<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sourceFilePath" value="D:\Sergey\EPAM\NET.S.2018.Struk.09\StreamsDemo\input.txt"/>
    <add key="destinationFilePath" value="D:\Sergey\EPAM\NET.S.2018.Struk.09\StreamsDemooutput.txt"/>
  </appSettings>
</configuration>